arrow==0.12.1
atomicwrites==1.1.5
attrs==18.1.0
binaryornot==0.4.4
certifi==2018.4.16
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
cornice==3.4.0
coverage==4.5.1
future==0.16.0
-e git+https://github.com/morganbye/greetings.git@48d1e27e749f76f53a680de7994b4e9efb2933e4#egg=greetings
hupper==1.3
hypothesis==3.66.1
idna==2.7
Jinja2==2.10
jinja2-time==0.2.0
MarkupSafe==1.0
more-itertools==4.2.0
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.5
pluggy==0.6.0
poyo==0.4.1
py==1.5.4
pyramid==1.9.2
pytest==3.6.3
python-dateutil==2.7.3
repoze.lru==0.7
requests==2.19.1
simplejson==3.16.0
six==1.11.0
translationstring==1.3
urllib3==1.24.2
venusian==1.1.0
waitress==1.1.0
WebOb==1.8.2
whichcraft==0.4.1
zope.deprecation==4.3.0
zope.interface==4.5.0
